<!DOCTYPE html>
<html lang="en">
<%= _.template(require('../includes/head.html').default)(data) %>
<body>
<div class="wrapper">
  <div class="homepage-main-section">
    <div class="container">
      <%= _.template(require('../includes/header.html').default)(data) %>
      <h1 class="homepage-main-title">флористика с душой</h1>
      <div class="button-holder">
        <button class="button see-works">смотреть работы</button>
      </div>
      <div class="homepage-main-section__footer">
        <%= _.template(require('../includes/socials.html').default)(data) %>
        <div class="mouse-icon">
          <svg>
            <use xlink:href="#mouse"></use>
          </svg>
        </div>
        <div class="see-catalog-button">
          <div class="see-catalog-button__text">смотреть каталог</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('../includes/js.html').default)(data) %>
</body>
</html>
