.slick-next,
.slick-prev {
  width: 46px;
  height: 46px;
  border: 1px solid $white;
  border-radius: 50%;
  z-index: 1;
  transition: .5s;
  background: rgba($black, .4);
  @include desktop-hover() {
    background: $black;
  }
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    border: solid $white;
    border-width: 0 1px 1px 0;
    left: 50%;
    top: 50%;
  }
}
.slick-next {
  &:before {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
}
.slick-prev {
  &:before {
    transform: translate(-50%, -50%) rotateZ(135deg);
  }
}
.slick-disabled {
  opacity: 0;
}
.slick-slide {
  line-height: 0;
  img {
    display: block;
  }
}
.slick-dots {
  bottom: 0;
  line-height: 0;
  li {
    width: auto;
    height: auto;
    button {
      padding: 0;
      width: 62px;
      height: 3px;
      border-radius: 3px;
      background: rgba($white, .3);
      transition: .5s;
      &:before {
        color: transparent;
      }
    }
    &.slick-active {
      button {
        background: $white;
        &:before {
          color: transparent;
        }
      }
    }
  }
}